@model IEnumerable<AulaRemotaThriboCrossfit.Models.Exercicio>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/exericios.css" rel="stylesheet" />
<p>
    <a asp-action="Create" type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> Adicionar
    </a>
</p>
<table class="table" id="tableExercicio">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoExercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoExercicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipamento)
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.VideoURL))
                    {
                        <button type="button" class="btn btn-outline-warning" data-video-url="@item.VideoURL" data-toggle="modal" data-target="#modalVideo">
                            <span class="glyphicon glyphicon-facetime-video"></span> Assistir
                        </button>
                    }
                    else
                    {
                        <span>Sem vídeo</span>
                    }
                    @*<video width="250" height="200" controls>
                            <source src="@item.VideoURL" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>*@
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Uid" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*-------------------------------------MODAL--------------------------------------*@
<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <video width="500" height="500" controls id="videoModal" name="videoModal">
                    <source type="video/mp4" id="videoModalUrl" name="videoModalUrl">
                    Your browser does not support the video tag.
                </video>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#modalVideo').on('show.bs.modal', function (e) {
            var videoUrl = $(e.relatedTarget).data('video-url');
            $('#videoModal').get(0).pause();
            $('#videoModalUrl').attr('src', videoUrl);
            $('#videoModal').get(0).load();
            $('#videoModal').get(0).play();
            //$(e.currentTarget).find('source[name="videoModalUrl"]').val(bookId);
        });
        $('#tableExercicio').DataTable({
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });
    });
</script>
