@model IEnumerable<AulaRemotaThriboCrossfit.Models.Exercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercicios</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Exercício</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipamento)
                </td>
                <td>
                    <video width="320" height="240" controls>
                        <source src="@item.VideoURL" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td>
                    <p>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">
                            <span class="glyphicon glyphicon-edit"></span> Editar
                        </a> 
                    </p>
                    <p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">
                            <span class="glyphicon glyphicon-eye-open"></span> Detalhes
                        </a>
                    </p>
                    <p>
                      
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <span class="glyphicon glyphicon-trash"></span> Deletar
                        </a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
