@model int
@{
    var i = Model;
    var tipoExercicio = $"tipoExercicio{i}";
    var selectExercicios = $"selectExercicios{i}";
    var descricaoExercicio = $"descricaoExercicios{i}";
    var divExercicio = $"divExercicio{i}";
    <div class="row form-group col-md-12" id="@divExercicio">
        <div class="form-group col-md-3">
            <select class="form-control" onchange="atualizarListaExercicios(@i)" id="@tipoExercicio" name="@tipoExercicio">
                <option value="" selected>Selecione...</option>
                <option value="Mobilidade">Mobilidade</option>
                <option value="Aquecimento">Aquecimento</option>
                <option value="Core">Core</option>
                <option value="WOD">WOD</option>
                <option value="Alongamento">Alongamento</option>
                <option value="Outro">Outro</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <select class="form-control" name="@selectExercicios" id="@selectExercicios">
                <option value="">Selecione...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="Descricao" id="@descricaoExercicio" name="@descricaoExercicio" />
        </div>
        <div class="form-group col-md-1">
            <button type="button" class="btn btn-danger" onclick="removeExercicio(@i)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
}